* {
    font-family: Helvetica, Arial, sans-serif;
}
#recipe {
    font-size: 64px;
    text-align: center;
}
.header {
    font-size: 36px;
}
#desc, #ingridients-li {
    font-size: 26px;
}
#ingridients-li {
    background-color: #f4f4f4;
}
#steps-li {
    font-size: 28px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 450px
}
#home {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}
#link {
    text-align: center;
}